@import '../../scss/helpers/helpers';

.food-card {
  position: relative;
  user-select: none;
  cursor: pointer;
  z-index: 0;
  @include aspect-ratio(3, 2);

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $card-bg;
    background-image: url('../../images/cat.png');
    background-repeat: no-repeat;
    background-position: -2.7rem calc(100% + 9.2rem);
    border: 0.4rem solid $blue;
    border-radius: 1.2rem;
    box-sizing: border-box;
    z-index: -1;

    @supports (
      clip-path: polygon(4.4rem 0, 100% 0, 100% 100%, 0 100%, 0 4.4rem)
    ) {
      clip-path: polygon(4.4rem 0, 100% 0, 100% 100%, 0 100%, 0 4.4rem);

      &::before {
        content: '';
        position: absolute;
        border-left: 4.1rem solid $blue;
        border-bottom: 4.1rem solid transparent;
      }
    }
  }

  &__description {
    color: $card-text;
    padding: 2.1rem 4.8rem;
    @include flexbox($direction: column);
  }

  &__title {
    margin: 0.5rem 0 1.6rem -0.2rem;
    font-size: 4.8rem;
    color: $card-heading;

    span {
      display: block;
      font-size: 0.5em;
      line-height: 1;
      margin-left: 0.2rem;
    }
  }

  &__info,
  &__details {
    margin: 0;
  }

  &__info {
    order: -1;

    &--active {
      color: $pink;
    }
  }

  &__details {
    font-size: 1.4rem;
    @include flexbox($direction: column);
  }

  &__weight-label {
    position: absolute;
    bottom: 1.6rem;
    right: 1.6rem;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    background: $blue;
    color: white;
    font-size: 4.2rem;
    line-height: 1;
    text-align: center;
    padding-top: 1.1rem;
    box-sizing: border-box;

    span {
      display: block;
      font-size: 0.5em;
    }
  }

  &__background,
  &__background::before,
  &__weight-label {
    transition-duration: 0.5s;
  }

  &:hover &__background {
    border-color: $blue-hover;
  }

  &:hover &__background::before {
    border-left-color: $blue-hover;
  }

  &:hover &__weight-label {
    background-color: $blue-hover;
  }

  &--selected &__background {
    border-color: $pink;
  }

  &--selected &__background::before {
    border-left-color: $pink;
  }

  &--selected &__weight-label {
    background-color: $pink;
  }

  &--selected:hover &__background {
    border-color: $pink-hover;
  }

  &--selected:hover &__background::before {
    border-left-color: $pink-hover;
  }

  &--selected:hover &__weight-label {
    background-color: $pink-hover;
  }

  &--disabled {
    cursor: not-allowed;
  }

  &--disabled &__background {
    background-image: linear-gradient(rgba($card-bg, 0.5), rgba($card-bg, 0.5)),
      url('../../images/cat.png');
    background-repeat: no-repeat;
    background-position: -2.7rem calc(100% + 9.2rem);
  }

  &--disabled &__background,
  &--disabled:hover &__background {
    border-color: $disabled;
  }

  &--disabled &__background::before,
  &--disabled:hover &__background::before {
    border-left-color: $disabled;
  }
  
  &--disabled &__description,
  &--disabled &__title {
    color: $disabled;
  }

  &--disabled &__weight-label,
  &--disabled:hover &__weight-label {
    background-color: $disabled;
  }
}
