@import '../../scss/helpers/helpers';

.food-section {
  @include flexbox(center);
  min-height: 100vh;
  padding: 3.2rem 0;
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    transparent,
    rgba(0, 0, 0, 0.5)
  );

  &__container {
    width: calc(100% - 4rem);
    max-width: 112rem;
    margin: 0 auto;
  }

  &__heading {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 0.2rem 0.1rem #000;
    margin: 0 0 2.4rem;

    @include breakpoint-up(sm) {
      font-size: 3.6rem;
    }
  }

  &__items {
    @include flexbox(center, $direction: column);

    @include breakpoint-up(sm) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
    }

    @include breakpoint-up(xl) {
      justify-content: space-between;
    }
  }

  &__item {
    flex: 1;
    min-width: 28rem;
    max-width: 32rem;

    @include breakpoint-up(md) {
      margin: 0 2.4rem;
    }

    @include breakpoint-up(xl) {
      margin: 0;
    }

    &:not(:last-of-type) {
      margin-bottom: 4rem;
    }
  }
}
