@import '../../scss/helpers/helpers';

.footer {
  position: relative;
  height: 0;
  font-size: 0;

  &__attribution {
    position: absolute;
    bottom: 0.5rem;
    font-size: 1.1rem;
    color: #999;
    width: 100%;
    text-align: center;
  }

  &__link {
    color: inherit;

    &:hover {
      color: $base-text;
    }
  }
}
